/* 
1. Posicionamiento
2. Box Model
3. Tipografía
4. Visual
5. Otros
*/

:root{
    /*Variables de color*/
    --just-white: #fff;
    --just-red: #FF1E00;
    --off-white: #faf8f7;
    --just-black: #000000;
}

*{
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: url('../assets/img/samall.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header--title--container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 15px;
    text-align: center;
    align-self: center;
}

.header--title--container h1{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title--container .p1{
    margin-top: 5px;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: rgba(226, 223, 223, 0.801);
}

.header--title--container .p2{
    margin-top: 5px;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
}


/*Boton Flotante*/
.header--title--container .header--button{
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /*agregamos sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);     
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color:var(--just-black);
}

.header--button span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    background-image: url('../assets/icons/down.svg');
    background-size: cover;
}

.header--title--container .box{
    width: 25rem;
    height: 8rem;
    margin-top: 35px;
    margin-bottom: 10px;
    background: url('../assets/img/logo.png') no-repeat;
    background-size: cover;
    position: relative;
    flex-flow: row;
    border-radius: 5px;
    margin-bottom: 50px;
}

main{
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-category-container{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-category-container-title{
    width: 90%;
    min-width: 280px;
    max-width: 900px;
    margin: 0 auto;

}

.main-category-container .backgroundImg{
    width: 250px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/img/categoria1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;

}

.main-category-container h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    height: 2.6rem;
    color: var(--just-black);
}

.main-category-container p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    height: 1.6rem;
    color: #757575;
}


.main-currency-table{
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-currency-table .currency-table--title{
    text-decoration: none;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}   